<div class="h5 "> My profile</div>
<br>

<table class="table mr-2 col-12">

    <tbody>
        <tr>
            <th scope="row">name_____1</th>
            <td class="">Mark</td>

        </tr>
        <tr>
            <th scope="row">name_____1</th>
            <td class="">Mark</td>

        </tr>
        <tr>
            <th scope="row">name_____1</th>
            <td class="">Mark</td>

        </tr>
        <tr>
            <th scope="row">name_____1</th>
            <td class="">Mark</td>

        </tr>
        <tr>
            <th scope="row">name_____1</th>
            <td class="">Mark</td>

        </tr>
        <tr>
            <th scope="row">name_____1</th>
            <td class="">Mark</td>

        </tr>
        <tr>
            <th scope="row">name_____1</th>
            <td class="">Mark</td>

        </tr>
        <tr>
            <th scope="row">name_____1</th>
            <td class="">Mark</td>

        </tr>



    </tbody>
    <div class="col-12 mt-2">
        <button type="submit" class="btn btn-primary">Edit Profile</button>

    </div>
</table>