.example-container {
  width: 1366px;
  background-color: black;
}

.example-sidenav-content {
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  background-color: grey; 
}